<div class="containers">
    <div style="margin-left: 20px">
      <small>Design & Developed By Dnyaneshwar</small><br>
      <small>Copyright &copy; 2018. All rights reserved.</small>
    </div>

    <p>
      <span style="color:blue">.</span>
      <span style="color:red">.</span>
      <span style="color:green">.</span>
    </p>

    <div style="margin-right: 20px">
      <small>Connect with us on</small>
      <ul class="inline">
        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
</div>
